/* override styles within the RTE */
.banner-content {
    a {
        font-weight: 700;
        color: currentColor !important;
    }
    h1, h2, h3, h4, h5, h6 {
        font-weight: 700;
        margin-bottom: 0.5rem;
    }
}